/* ==========================================================================
   About Us Section Start
   ========================================================================== */
  .split {
    background-color: #F5F8FB;
    h2.title {
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .lead {
      font-size: 14px;
    }
    .details-list {
      margin-top: 20px;
      h3 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .about2-intro-image img {
    width: 100%;
  }

  .about-2{
    .content-box{
      margin-top: 15px;
      h3{
        font-size: 30px;
        margin-bottom: 20px;
      }
      .btn-wrapper{
        margin-top: 15px;
      }
    }
    .about-inner{
      margin-bottom: 15px;
      margin-top: 15px;
      .icon{
        float: left;
        width: 80px;
        height: 80px;
        text-align: center;
        i{
          color: $preset;
          font-size: 40px;
        }
      }
      .about-text{
        margin-left: 80px;
        h3{
          font-size: 18px;
          font-weight: 500;
        }
        p{
          margin-bottom: 10px;
        }
        .more-btn{
          color: #888;
          &:hover{
            color: $preset;
          }
        }
      }
    }
  }
  