<div class="span9">
    <article>
        <div class="row">
            <div class="span9">
                <div class="post-heading">
                    <h3><strong>{{klub}}s</strong> træningsløb den <strong>{{ tid }} i {{skov}} - <span style="color: #ff0000">{{bane}}:</span></strong></h3>
                </div>
                <table id="Strak_id" data-toggle="table" class="a table table-striped table-bordered table-hover"  data-height="500" > 
                    <font size="10" face="Courier New" >
                    <thead>
                        {% if resultat %}
                            <tr style="table-layout:auto; color: black" >     
                                {% for key in resultat[0] %}
                                    <th > {{ key }} </th>
                                {% endfor %}
                            </tr> 
                        {% endif %}
                    </thead>
                    </font>
                    <font size="2" face="Courier New" >
                    <tbody>
                        {% for dict_item in resultat %}
                        <tr style = "" class="hover">	
                            {% for value in dict_item.values() %}
                                    <td><span style= "color:#ef0000;">{{ value }}</span></td>
                            {% endfor %}
                        </tr>
                        {% endfor %} 
                    </tbody>
                    </font>
                    <tfoot>
                        {% if strak %}
                            <tr style="color: black;" class="cell-border compact stripe">     
                                {% for key in resultat[0] %}
                                    <th> {{ key }} </th>
                                {% endfor %}
                            </tr> 
                        {% endif %}
                    </tfoot> 
                </table>
            </div>
        </div>
    </article>
</div>