<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Your page description here" />
        <meta name="author" content="" /> 
   
        <!-- css -->
		<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
		
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap.css') }}>
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bootstrap-responsive.css') }}>
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/flexslider.css') }}>
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/fancybox/jquery.fancybox.css') }}>
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/jcarousel.css') }}>
		<link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">

        <!-- Theme skin -->
        <link link rel="stylesheet" type="text/css" href={{ url_for('static', filename='skins/blue.css') }}>

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}>
        <link rel="apple-touch-icon-precomposed" href={{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}>
		<link rel="shortcut icon" href={{ url_for('static', filename='ico/favicon.png') }}>

</head>


<body>
    <div id="wrapper">
        <!-- toggle top area -->
        <div class="hidden-top">
            <div class="hidden-top-inner container">
                <div class="row">
                <div class="span12">
                    <ul>
                    <li><strong>We are available for any custom works this month</strong></li>
                    <li>Main office: Springville center X264, Park Ave S.01</li>
                    <li>Call us <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        <!-- end toggle top area -->
        <!-- start header -->
        <header>
			<div class="container ">
				<!-- hidden top area toggle link -->
				<div id="header-hidden-link">
					<a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Åbn</a>
				</div>
				<!-- end toggle link -->
				<div class="row nomargin">
					<div class="span12">
						<div class="headnav">
							<ul>
								<li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i>Tilmeld</a></li>
								<li><a href="#mySignin" data-toggle="modal">Log ind</a></li>
							</ul>
						</div>
						<!-- Signup Modal -->
						<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 id="mySignupModalLabel">Opret en  <strong>bruger</strong></h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="inputEmail">Email</label>
									<div class="controls">
										<input type="text" id="inputEmail" placeholder="Email">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputSignupPassword">Password</label>
									<div class="controls">
										<input type="password" id="inputSignupPassword" placeholder="Password">
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="inputSignupPassword2">Bekræft Password</label>
									<div class="controls">
										<input type="password" id="inputSignupPassword2" placeholder="Password">
									</div>
								</div>
								<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Tilmeld</button>
								</div>
									<p class="aligncenter margintop20">
									Har du allerede en bruger? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Log ind</a>
									</p>
								</div>
								</form>
							</div>
						</div>
					<!-- end signup modal -->
					<!-- Sign in Modal -->
					<div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 id="mySigninModalLabel">Logind til <strong>bruger</strong></h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputText">Brugernavn</label>
								<div class="controls">
									<input type="text" id="inputText" placeholder="Username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputSigninPassword">Password</label>
								<div class="controls">
									<input type="password" id="inputSigninPassword" placeholder="Password">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Logind</button>
								</div>
									<p class="aligncenter margintop20">
									Glemt password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Gendan</a>
									</p>
							</div>
							</form>
						</div>
					</div>
					<!-- end signin modal -->
					<!-- Reset Modal -->
					<div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 id="myResetModalLabel">Gendan dit <strong>password</strong></h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputResetEmail">Email</label>
								<div class="controls">
									<input type="text" id="inputResetEmail" placeholder="Email">
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn">Gendan password</button>
								</div>
								<p class="aligncenter margintop20">
								Vi sender dig oplysninger om, hvordan du gendanner dit password, til din email
								</p>
							</div>
							</form>
						</div>
					</div>
					<!-- end reset modal -->
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<div class="logo">
							<a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="logo" /></a>
							<h1>OS Midtjylland</h1>
						</div>
					</div>
					<div class="span8">
						<div class="navbar navbar-static-top">
						<div class="navigation">
							<nav>
								<ul class="nav topnav">
										<li class="dropdown">
											<a href="{{ url_for('main.index') }}"><i class="icon-home"></i> Forside <i class=""></i></a>
											
										</li>
										<li class="dropdown">
											<a href="{{ url_for('main.explore') }}">Udforsk <i class="icon-angle-down"></i></a>
										<ul class="dropdown-menu">
										<li><a href="{{ url_for('beregn.admin') }}">Administrator</a></li>
										<li><a href="{{ url_for('beregn.opsat') }}">Opsætning</a></li>
										<li><a href="components.html">Components</a></li>
										<li><a href="animations.html">56 Animations</a></li>
										<li><a href="icons.html">Icons</a></li>
										<li><a href="icon-variations.html">Icon variations</a></li>
										<li class="dropdown"><a href="#">3 Sliders <i class="icon-angle-right"></i></a>
										  <ul class="dropdown-menu sub-menu-level1">
											<li><a href="index.html">Nivo slider</a></li>
											<li><a href="index-alt2.html">Slit slider</a></li>
											<li><a href="index-alt3.html">Parallax slider</a></li>
										  </ul>
										</li>
									  </ul>
									</li>
									<li class="dropdown">
									  <a>Træningsløb <i class="icon-angle-down"></i></a>
									  <ul class="dropdown-menu">
										<li><a href="{{ url_for('beregn.vis_resultater') }}">Resultater</a></li>
										<li><a href="{{ url_for('beregn.vis_bruger') }}">Bruger resultater</a></li>
									  </ul>
									</li>
									<li class="dropdown">
									  <a>Statistik <i class="icon-angle-down"></i></a>
									  <ul class="dropdown-menu">
										<li><a href="{{ url_for('beregn.statistik1') }}">Klubber</a></li>
										<li><a href="{{ url_for('beregn.statistik3') }}">Deltager pr. bane</a></li>
										<li><a href="{{ url_for('beregn.statistik2') }}">Deltager pr. klub</a></li>
									  </ul>
									</li>
									<li class="dropdown">
									  <a href="#">Blog <i class="icon-angle-down"></i></a>
									  <ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
										<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
										<li><a href="post-left-sidebar.html">Post left sidebar</a></li>
										<li><a href="post-right-sidebar.html">Post right sidebar</a></li>
									  </ul>
									</li>
									<li>
									  <a href="contact.html">Contact </a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- end navigation -->
						</div>
					</div>
				</div>
			</div>
        </header>
        <!-- end header -->

     

        {% block app_content %}
            
        {% endblock app_content %}


    

    <footer>
        <div class="container">
            <div class="row">
            <div class="span3">
                <div class="widget">
                <h5 class="widgetheading">Browse pages</h5>
                <ul class="link-list">
                    <li><a href="#">About our company</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Meet our team</a></li>
                    <li><a href="#">Explore our portfolio</a></li>
                    <li><a href="#">Get in touch with us</a></li>
                </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                <h5 class="widgetheading">Important stuff</h5>
                <ul class="link-list">
                    <li><a href="#">Press release</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Career center</a></li>
                    <li><a href="#">Flattern forum</a></li>
                </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                <h5 class="widgetheading">Flickr photostream</h5>
                <div class="flickr_badge">
                    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
                </div>
                <div class="clear">
                </div>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                <h5 class="widgetheading">Get in touch with us</h5>
                <address>
					<strong>Flattern studio, Pte Ltd</strong><br>
					Springville center X264, Park Ave S.01<br>
					Semarang 16425 Indonesia
				</address>
                <p>
                    <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                    <i class="icon-envelope-alt"></i> email@domainname.com
                </p>
                </div>
            </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
            <div class="row">
                <div class="span6">
                <div class="copyright">
                    <p>
                    <span>&copy; Flattern - All right reserved.</span>
                    </p>
                    <div class="credits">
                    <!--
                        All the links in the footer should remain intact.
                        You can delete the links only if you purchased the pro version.
                        Licensing information: https://bootstrapmade.com/license/
                        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                </div>
                <div class="span6">
                <ul class="social-network">
                    <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                    <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                    <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                    <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                    <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

  
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block scripts %}

	
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jcarousel/jquery.jcarousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox-media.js') }}"></script>
    <script src="{{ url_for('static', filename='js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portfolio/jquery.quicksand.js') }}"></script>
    <script src="{{ url_for('static', filename='js/portfolio/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nivo.slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ba-cond.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slitslider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
    <!-- Template Custom JavaScript File -->
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableDnD/0.9.1/jquery.tablednd.js" integrity="sha256-d3rtug+Hg1GZPB7Y/yTcRixO/wlI78+2m08tosoRn7A=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
	

    {% endblock scripts %}
</body>

</html>

