{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- Classic Blog Section -->
	<section class="cta-section section">
    <!-- <section class="classic-blog-section section"> -->
		<div class="container">
			<div class="row">
			<!-- Blog Article Section -->
				<div class="col-md-9">
					<!-- Single Blog Post -->
					<article class="blog-post-wrapper wow fadeIn" data-wow-delay="0.3s">
					<!-- Author Info -->
						<header class="author-info">
							<h2 class="blog-post-title"><a href="#">Kommende træningsløb</a></h2>
							<div class="tag-posted-in">
								<ul class="list-unstyled">
									<li><i class="fa fa fa-calendar"></i> <a href="#">July 17, 2020</a></li>
									<li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
									<li><i class="fa fa-pencil-alt"></i> <a href="#">Business</a></li>
									<li><i class="fa fa-comments"></i> <a href="#">No comment</a></li>
								</ul>
							</div>
						</header>
						<section class="blog-post-content">
							<div class="blog-post">
								<p><iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FCopenhagen&amp;src=dWllcGEwczk5ZGozaTZtMTdnZGtsNWdra2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%231F753C" style="border:solid 1px #777" width="600" height="600" frameborder="0" scrolling="no"></iframe></p>
							</div>
						</section>
					</article>	
				</div>

				<div class="col-md-3">
					<div class="sidebar-area">
						<aside class="widget text-widgets wow fadeIn" data-wow-delay="0.3s">
							<h2 class="widget-title">Seneste</h2>              
							<h3>{{ _('Hi, %(username)s!', username=current_user.username) }}</h3>
							{% if form %}
							{{ wtf.quick_form(form) }}
							<br>
							{% endif %}
							{% for post in posts %}
								{% include '_post.html' %}
							{% endfor %}
							

							<div class="blog-pagination clearfix wow fadeIn" data-wow-delay="0.3s">	
								<nav aria-label="..." class="">
									<ul class="pagination">
										<li class="page-item disabled">
											<a class="previous{% if not prev_url %} disabled{% endif %}">
												<!--<i class="fa fa-angle-left"></i>-->
												<!--<li class="previous{% if not prev_url %} disabled{% endif %}"> -->
												<a href="{{ prev_url or '#' }}">
													<span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
												</a>
											</a>
										</li>
										<li class="page-item">
											<a class="next{% if not next_url %} disabled{% endif %}">
												<!--<i class="fa fa-angle-right"></i>-->
												<a href="{{ next_url or '#' }}">
													{{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
												</a>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock app_content %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	{{ moment.lang(g.locale) }}
{% endblock scripts %}